*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --rouge-foncé : #380000;
  --rouge-clair : #8F3333;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: .01rem;
}

@font-face {
    font-family: 'titre';
    src: url('polices/western_bang_bang/WesternBangBang-Regular.woff') format('woff2'),
         url('polices/western_bang_bang/WesternBangBang-Regular.woff2') format('woff');
}

body {
  background: linear-gradient(to bottom, var(--rouge-foncé), #000000);
}

.accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(images/title.svg);
  background-size: 2300px;
  background-repeat: no-repeat;
  background-position: center;
}

.accueil h1 {
  color: var(--rouge-foncé);
  font-size: 12rem;
  font-family: "titre", sans-serif;
  letter-spacing: 0.05em;
  font-weight: normal;
  margin: 0;
}

.accueil .titre {
  color: var(--rouge-clair);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 100px;
}

.accueil p {
  font-size: 3.5rem;
  text-align: center;
  font-family: "titre", sans-serif;
  letter-spacing: 0.05em;
  margin: 0;
}

.accueil .logo {
  margin: 0;
  padding: 0;
  width: 120px;
}
