
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #260101;
}

.bar {
    fill: #4e2825;
}

.cassette-body {
    fill: #8d453a;
    stroke: #252525;
    stroke-width: 1.5px;
}

.cassette-detail {
    fill: #c8c3b4;
    stroke: #653b3b;
    stroke-width: 1.5px;
}

.cassette-label {
    fill: #333;
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle;
}

.cassette-etiquette {
    fill: #d5cbb9;
    stroke: #65503b;
    stroke-width: 1.5px;
}

.axis-line {
    stroke: #ffffff;
    stroke-width: 2;
}

.axis-label {
    fill: #ffffff;
    font-size: 12px;
}

#info-box {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.bar-stripe {
    fill: #b7998a;
}
